@font-face{
  font-family:Ailerons;
  src:url(../img/Ailerons.otf)  
}
body {
    margin: 0;
    background-color: #f2f2f2;
}


/* sticky menu */
.header {
   /* position: fixed; */
   width: 100%;
   background-color: #fff;
   z-index: 999;
}




/*-------------_*/
header{
	max-width: 100%;
	margin: 0 auto;
    background-color: #fff;
    color: black;
	position: relative;
	display: block;
}


header::after{
	content: "";
	clear: both;
	display: block;
}

.logo{
	margin: 0.5em;
	float: left;
	width: 5em;
	height: 4em;
}

.menu{
	top: 100%;
	margin-left: -330px;
	position: absolute;
	background: #464655;
}

.menu ul{
	margin: 0;
	padding: 1em;
	list-style: none;
}

.menu li{
	border-bottom: 1px solid #575766;
}

.menu a{
	color: black;
	display: block;
	padding: 2em 4em;
	text-decoration: none;
    text-transform: uppercase;
    font-family:Ailerons;
}

.menu a:hover{
	background: #E4B363;
	color: #464655;
}

.menu-1{
	padding: 0.5em;
	position: absolute;
	top: .5em;
	right: .5em;
	cursor: pointer;
}

@media(min-width: 510px){

	.menu-1{
		display: none;
	}

	.menu{
		height: auto;
		position: relative;
		background: transparent;
		float: right;
		margin-right: 50px;
		overflow: hidden;
	}

	.menu li{
		display: inline-block;
		border: none;
	}

	.menu a{
		padding: 0;
		margin: 0.5em 1em;
	}

	.menu a:hover{
		background: transparent; 
	}

	


}



/* Menu principal -----------------------------------------*/


   

#toggle-menu > span {
    display: block;
    width: 30px;
    height: 3px;
    background-color:#395444;
    margin: 3px;

  }

  #toggle-menu {
    padding-left: 10px;
    padding: 1rem;
  }


.logo {
    font-family: Ailerons;
    color: #fff;
}

.img-cntr {
    margin: 75px auto;
}

.menu {
    padding-bottom: 25px;
}

.menu__item {
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #cccccf;
}

.menu__item:nth-child(6) {
    border: none;
}

.menu__link {
    color: rgb(60, 4, 77);
    text-decoration: none;
    display: block;
  
        margin-left: 5%;
        margin-top: 3%; 
    
}

.menu__link:hover {
    color: #4a9267;;
}


body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
	}

#contenedor1{
	width: 100%;
	border: 1px solid white;
	
}



/* Banner -------------------------------------------------------------*/

#banner {
    background-attachment: scroll,fixed;
    background-image: url("../img/bannerpc.png");
    background-position: top left,right right;
    background-repeat: repeat,no-repeat;
    background-size: cover;
    position:relative;
    padding: 8em 0 18em 0;    
    font-family: Ailerons;
    
}

    #banner p {
        font-size: 1.25em;     
        color: #395444;
        font-family: Ailerons;
        text-align: left;
    }

        #banner .button.primary {
            background: #4a9267;
            color: #fff !important;
        }

        

/*galeria1 ---------------------------------------------------------------*/

.active2{
    background: #4a9267ab;
    border-radius: 5ex;
}


body{
	background-color: white;
}

#contenedor{
	width: 100%;
	border: 1px solid white;
}

.img2{
    width: 100%;
}

.btn2{
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 16px;
	color: white;
	float: left;
	margin: 10px;
	margin-left: 20%;
	margin-bottom: 40px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	line-height: 30px;
}

.btn2:hover{
	color: black;
	background-color: white;
}



/*galeria1-fin------------------------------------------------------------ */


/*interaccionDom------------------------------------------------------------ */
*{
	color: #395444;
	font-family: Arial;
	text-align: center;
}

#cajaPadre{
    display: flex;
    flex-wrap: nowrap; 
}

.min {
    width: 30%;
    height:100px;
    display: inline-block;
    background-color: #9d9da0;
    border: 2px solid #4a9267; 
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    padding-top: 5%;
margin-bottom: 5%;
 color: #fff;

}  
    


/*interaccionDom-fin------------------------------------------------------------ */


/*interacciongaleria nosotros------------------------------------------------------------ */

.mg {
    color:white;
	font-size: 5em;
	font-family: 'Pacifico', cursive;
}
.imgRedonda {   
    border-radius:90px;
}


.miniatura{
    cursor:pointer;
    margin-bottom: 20%;
}

.miniatura:hover{
	opacity:.5;
}
/*interacciongaleria nosotros fin------------------------------------------------------------ */

.tex 
{
    color: #395444;
    font-family: Ailerons;
}
.btn{
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 16px;
	color: white;
	float: left;
	margin: 5px;
	margin-left: 25px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	line-height: 30px;
}

.btn:hover{
	color: black;
	background-color: white;
}

.p1 
{
    color: #ffffff;
}



/* imagen de fondo */
.imagen-fondo {
    height: 400px;
    background-image: url(../img/mapa.jpg);
    background-size: cover;
    background-position: center center, center center;
    background-repeat: no-repeat, no-repeat;
   
}

.cuadro{
    z-index: -2;
}



.btn-call-to-action {
    width: 200px;
    height: 200px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 25px;
    z-index: 998; 
    color: #fff;
    transition: 1s;
    font-weight: bold;
}

.btn-call-to-action:hover {
    background-color: #4a9267;
    border-color: #4a9267;;
}



/* Pie de página */
.footer {
    background-image: url("../img/footer.png");
    background-size: cover;
   
    
    padding: 20px 0;
   
}


.menu__link--footer {
    color: #395444;
    font-size: 16px;
    display: block;
    padding: 10px 0;
}

.menu-footer {
    display: flex;
    justify-content: space-around; 
    margin: auto;  
}

.menu-footer div {
    border-right: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 0 30px;
    margin-top: 50px;
}

.menu-footer div h2 {
    color: #f2f2f2;
    font-size: 18px;
}

.menu-footer div:last-child {
        border: none;
}

.footer {
    background-color: #9d9da0;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
.copyright {
    background-color: rgb(139, 140, 146);
    display: block;
    text-align: center;
    color: #f2f2f2;
    padding: 12px 0;
}




.formulario2 {
    margin: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
   margin-left: 30%;
   background-color: #39544483;
  
}

.ubicacion{
    width: 100%;
}

.titulof{
    color: #fff;
    margin-top: 10%;
    text-align: center;
}

.submit{
    width: 10%;
}


    .input,
    .tex-area {
    outline: 0;
    display: block;
    padding: 0,7%;
    margin-left: 35px;
    margin-top: 35px;
    width: 80%;
    background-color: #cccccf;
    text-align: start;
    }



@media(min-width:768px) {
    /* menu */

  
 
    #toggle-menu > span {
        display: block;
        width: 30px;
        height: 3px;
        background-color:#ffffff;
        margin: 3px;

      }

    #toggle-menu {
        padding-left: 10px;
        padding: 1rem;
      }
    .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 0;
    }

    .menu__list {
        display: flex;
    }

    .menu__item {
        border: none;
    }



    .search {
      
        margin: 0;
        height:30px;
        max-width: 300px;
        background-size: 20px;
    }

    .img-cntr {
        margin: 75px auto;
        display: table;
    }

  

    
}

@media(min-width:375px) {


    #banner h2 {
        font-size: 10em;
        font-family: Ailerons;
        text-align: left;
    
         }



.img-cntr {
     margin: 75px auto;
     display: table;

}

.btn2{
	
	margin: 5%;
	margin-left: 15%;

}

.ubicacion{
    width: 80%;
}

}


@media(min-width: 992px) {
    
   

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .menu-footer {
        width: 50%;
    }

    .map {
        width: 50%;
        display: flex;
        justify-content: center;
   
    }
    
    
   
}
.contenedor3{
    position:relative;
    height: 500px;
    overflow: hidden;
    margin:20px 0;
}
.parallax{
    position: absolute;   
    height: 100vh;
    width: 100%;
    z-index:-1;
}
.tituloParallax{
    color:white;
    font-size: 3em;
    text-align: center;
    margin-top:100px;

}

.caja {
    float:left; 
    margin-left:15px;
    width:400px;
    height:600px;
   
 }
.caja2 {
     float:right;
     margin-left:5px; 
     width:1400px;
     height:400px;
     margin:0 auto; 
    }

.content3 {
    font-family:Ailerons; 
    font-size: 40px;
    font-style:normal;
    text-transform: lowercase;
    
}

.titles {
    font-family: Ailerons;
    font-size: 72px;
    text-align: center;
}
.title {
    font-family: Ailerons;
   
}